$huge: 1440;
$large: 1170;
$medium: 768;
$small: 600;
$tiny: 320;

$spacing-tiny: 8px;
$spacing-small: 16px;
$spacing-medium: 24px;
$spacing-large: 32px;
$spacing: $spacing-medium;

$twitter-color: #1da1f2;
$github-color: #24292e;

$base-color: #fff;
$accent-color: #f0f0f5;
$bold-color: #ccccd0;
